<!-- {{ form | json }} -->

<form class="form-game" action="" (submit)="filter()">
  <input (change)="setValue($event.target)" [value]="form.name" type="text" id="name" name="name" placeholder="Nom">
  <select name="type" id="type" class="slide-up" [value]="form.type"
              (change)="setValue($event.target)">
        <option disabled>Choisis un type</option>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
      </select>
  <input (change)="setValue($event.target)" [value]="form.editor" name="editor" type="text" placeholder="Editeur">
  <input type="reset" value="RAZ" (click)="razFilter()">
  <input type="submit" value="Filter" (click)="filter()">
</form>