<app-game-list-filter (filtered)="filtering($event)"></app-game-list-filter>

<div class="cards">
  <div>
    <button (click)="sizeDown()">-</button>
    <button (click)="sizeUp()">+</button>
    <button (click)="sizeReset()">Re-Init</button>
  </div>
  <ul class="cards__list">
    <li class="card" *ngFor="let game of filteredGames" [ngStyle]="{'width': width + 'px'}">
      <img card__image src="{{ game.coverImage }}" alt="Avatar" [ngStyle]="{'width': width + 'px'}">
      <div class="card__container" >
        <h4>{{ game.title }}</h4> 
        <p><strong>Type et éditeur : </strong><span *ngFor="let genre of game.genres; let last = last">{{!last ? genre.name + ', ' : genre.name}}</span></p> 
        <p><strong><span>Publisher : </span> {{game.publisher.name}}</strong></p>
        <p><strong><span>Developer : </span> {{game.developer.name}}</strong></p>
        <p><strong>Note:</strong>{{game.note}} /10</p> 
        <p style="width: 300px;"><strong>Description:</strong> {{ truncate(game.description) }}</p>
          <app-game-actions 
            (click)="onActionClick($event, game)">
          </app-game-actions>
      </div>
    </li>
  </ul>
</div>